<!DOCTYPE html>

<html>
<head>  
    <title>About</title>
     <link rel="icon" href="/img/weather_icon.webp"> 
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Madusanka. It uses data from weatherstack.com and geocode.com</p>
        <img id="profile_picture" src="./img/profile.png">
    </div>

    {{>footer}}
</body>

</html>